@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
:root {
	--blue: #61dafb;
	--background: #1c1e21;
	--background2: #21222a;
}
/* ---------------------------------- */
html,
body {
	background: var(--background);
	color: aliceblue;
	font-family: "Noto Sans JP", sans-serif;
	margin: 0;
}

.container {
	background-color: rgb(23, 21, 21);
	margin: auto auto;
	width: 300px;
	height: 100%;
	margin-top: 20px;
}
.Image {
	text-align: center;
	font-size: 0.75rem;
}
.Image > img {
	margin-bottom: 3px;
}
.Image > h2 {
	margin: 0;
	padding: 0;
}
.Image > p {
	opacity: 0.7;
	margin-top: 0;
}
.Image > a {
	opacity: 0.7;
	color: white;
	text-decoration: none;
}
.Buttons {
	width: fit-content;
	margin: 0 auto;
}
.Buttons > button {
	font-size: 1.1em;
	margin: 5px;
}
.button2 {
	background-color: #24a0ed;
	border-color: #24a0ed;
	color: whitesmoke;
}
.About {
	margin: 0 auto;
	width: 80%;
}
.About > h4 {
	margin-bottom: 0;
}
.About > p {
	font-size: 0.7rem;
	opacity: 0.7;
	margin: 0 auto;
}
.fotter {
	text-align: center;
	padding: 20px;
}
.fotter > button {
	margin: 0 8px;
	border-color: var(--background);
	background: none;
	color: white;
	opacity: 0.7;
	width: 40px;
}
